@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.filtro {
    background-color: transparent;
    color: #333333;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 16px;
}
.filtro .listas {
    margin-left: 8px;
    margin-right: 8px; /* Adicionando espaçamento entre o texto e a imagem */
}

.filtro:hover {
    
    direction: horizontal;
    flex-direction: row;
    color:rgb(26, 11, 228)
}



img {
    width: 25px;
    height: auto;
}


(abaixo)------------NOVO/ATUALIZADO------------(abaixo)


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    font-family: Arial, Helvetica, sans-serif;
}

nav li {
    display: inline-block;
    position: relative;
}

nav li a {
    display: inline-block;
    color: rgb(0, 21, 211);
    text-decoration: none;
    padding: 15px;
}

li:hover{
    transform: scale(1.1);
}

.dropdown-menu {

    position: absolute;
    left: 20px;
    display: none;
}

.dropdown-menu a {
    display: block;
    color: black;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown img {
    height: 38px;
    width: auto;
    vertical-align: middle; 
    margin-right: 10px; 
    right: -40px;
    position: absolute;
}

