@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.filtro {
    background-color: transparent;
    color: #333333;
    border: none;
    border-radius: 80px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    line-height: 24px;
    padding: 8px 16px;
}
.filtro .listas {
    margin-left: 8px;
    margin-right: 8px; /* Adicionando espaçamento entre o texto e a imagem */
}

.filtro:hover {
    
    direction: horizontal;
    flex-direction: row;
    color:rgb(26, 11, 228)
}



img {
    width: 25px;
    height: auto;
}
