@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

.titulo {
    width: 167px;
    height: 30px;
  }
  
  .titulo h2 {
    color:  #111;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Nunito', sans-serif;
    font-size: 21.859px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  
